include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include requirements-dev.txt

recursive-include assets *
recursive-include config *.ini
recursive-include pages *.py

exclude *.pyc
exclude .DS_Store
exclude .gitignore

global-exclude __pycache__
global-exclude *.py[cod]
