# Core dependencies
Flask==2.3.2
dash==2.11.1
dash-spa==0.4.1

# Plotting and calculations
plotly==5.15.0
numpy==1.24.3

# Additional template dependencies
dash-bootstrap-components==1.4.1
dash-chartist==1.0.7
gunicorn==21.2.0
waitress==2.1.2
